@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Black"), url(./fonts/Gilroy-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(./fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url(./fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"), url(./fonts/Gilroy-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-LightItalic";
  src: local("Gilroy-LightItalic"),
    url(./fonts/Gilroy-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url(./fonts/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: local("Gilroy-SemiBold"),
    url(./fonts/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: local("Gilroy-Thin"), url(./fonts/Gilroy-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url(./fonts/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Black";
  src: local("Gilroy-Black"), url(./fonts/Gilroy-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: local("Gilroy-Heavy"), url(./fonts/Gilroy-Heavy.ttf) format("truetype");
}

:root {
  --collection-1-background: rgba(249, 241, 240, 1);
  --collection-1-burnt-clay: rgba(191, 121, 97, 1);
  --collection-1-coffee: rgba(60, 47, 42, 1);
  --collection-1-light-coral: rgba(255, 171, 171, 1);
  --collection-1-muted-maroon: rgba(217, 154, 147, 1);
  --collection-1-pastel-yellow: rgba(255, 248, 225, 1);
  --collection-1-primary: rgba(250, 220, 217, 1);
  --collection-1-rounded: 20px;
  --collection-1-secondary: rgba(248, 175, 166, 1);
  --collection-1-soft-peach: rgba(255, 215, 186, 1);
  --collection-1-text: rgba(0, 0, 0, 1);
  --collection-1-walnut: rgba(78, 59, 49, 1);
  --collection-1-warm-ivory: rgba(246, 233, 217, 1);
  --collection-1-warm-red: rgba(184, 81, 75, 1);
  --collection-1-warm-taupe: rgba(93, 64, 55, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: #f6e9d9;
}
